a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ================= FONT SETTING STARTS ================= */

/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Montserrat:wght@500;600;700&display=swap'); */
@font-face {
  font-family: 'VisbyCF', Verdana, Tahoma, sans-serif;
  src: url('../public/asset/VisbyCF/VisbyCF-Bold.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-BoldOblique.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-DemiBold.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-Light.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-LightOblique.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-Medium.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-MediumOblique.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-Thin.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-ThinOblique.ttf');
}

html, body {
  font-family: 'VisbyCF';
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 96px;
  font-weight: 700;
}

h2 {
  font-size: 60px; 
  font-weight: 700; 
}

h3 {
  font-size: 48px;
  font-weight: 500; 
}

h4 {
  font-size: 34px;
  font-weight: 500; 
}

h5 {
  font-size: 24px;
  font-weight: 500; 
}

h6 {
  font-size: 20px;
  font-weight: 400; 
}

body {
  font-size: 16px;
  font-weight: 400; 
}

.subtitle {
  font-size: 14px;
  font-weight: 400; 
}

button, .body2{
  font-size: 14px;
  font-weight: 400;
}

/* .title {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.link{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
}  */
/* Font ends */

/* STYLE */
ul{
  list-style-type: none;
} 

a, img, span {
  display: block;
}

a {
  text-decoration: none;
}
