a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ================= FONT SETTING STARTS ================= */

/* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Montserrat:wght@500;600;700&display=swap'); */
@font-face {
  font-family: 'VisbyCF', Verdana, Tahoma, sans-serif;
  src: url('../public/asset/VisbyCF/VisbyCF-Bold.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-BoldOblique.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-DemiBold.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-Light.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-LightOblique.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-Medium.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-MediumOblique.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-Thin.ttf');
  src: url('../public/asset/VisbyCF/VisbyCF-ThinOblique.ttf');
}

html, body {
  font-family: 'VisbyCF';
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #181818;
}

h1 {
  font-size: 6em;
  font-weight: 700;
}

h2 {
  font-size: 4.5em; 
  font-weight: 700; 
}

h3 {
  font-size: 3em;
  font-weight: 700; 
  margin-bottom: 0.25em;;
}

h4 {
  font-size: 2.125em;
  font-weight: 700; 
}

h5 {
  font-size: 1.5em;
  font-weight: 700; 
}

h6 {
  font-size: 1.25em;
  font-weight: 400; 
}

body, p {
  font-size: 1em;
  font-weight: 300; 
}

.subtitle {
  font-size: 0.875em;
  font-weight: 400; 
}

button {
  font-weight: 700
}

.body2{
  font-size: 0.875em;
  font-weight: 300;
}


/* .title {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.link{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
}  */
/* Font ends */

/* STYLE */
ul{
  list-style-type: none;
} 

a, img, span {
  display: block;
}

a {
  text-decoration: none;
}
